.m-steps .steps_hd{
	list-style:none;
	margin:0;
	padding:0;
}
@-webkit-keyframes fa-spin{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(359deg);
		transform:rotate(359deg);
	}
}
@keyframes fa-spin{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(359deg);
		transform:rotate(359deg);
	}
}
.m-steps .steps_hd{
	font-size:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.m-steps .steps_hd >li{
	display:inline-block;
	font-size:14px;
	position:relative;
}
.m-steps .steps_hd >li:after{
	content:"";
	display:block;
	position:absolute;
}
.m-steps .steps_hd >li + li:before{
	content:"";
	display:block;
	position:absolute;
}
.m-steps .steps_hd >li.z-dis{
	cursor:not-allowed;
}
.m-steps .steps_hd{
	padding:10px 0 60px;
	color:#999;
	text-align:center;
}
.m-steps .steps_hd >li{
	width:160px;
}
.m-steps .steps_hd >li:after{
	top:32px;
	left:50%;
	margin-left:-4px;
	height:8px;
	width:8px;
	background:#d9d9d9;
	-moz-border-radius:100%;
	border-radius:100%;
}
.m-steps .steps_hd >li + li:before{
	top:36px;
	left:50%;
	margin-left:-146px;
	width:132px;
	border-top:1px solid #d9d9d9;
}
.m-steps .steps_hd >li.z-act{
	color:#3c8dbc;
}
.m-steps .steps_hd >li.z-act:after{
	background:#3c8dbc;
}
.m-steps .steps_hd >li.z-act:before{
	border-color:#3c8dbc;
}